/* Fondo y tipografía global */
body {
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  background-color: #f2f2f2;
}

/* Centrar el app-root en pantalla */
app-root {
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}
